/stuff/stuff/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/stuff/.vs/stuff/v15/sqlite3/storage.ide
/stuff/stuff/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/stuff/stuff/obj/Debug/stuff.csproj.CoreCompileInputs.cache
/stuff/stuff/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/stuff/stuff/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
